.jumbotron1 {
	padding-top:50px;	
}
.contact-us {
	padding-bottom: 25px; 
	padding-top:20px; 
	margin:0 0 10px 0; 
	text-align: center; 
	background:grey;
}

.custom-toggle{	
	outline:0;
	text-decoration:none;
	color:#333;
	padding-top:15px;
	padding-bottom:15px;
}